.LandingPage {
  .info {
    text-align: center;
    color: #0a093f;

    h2 {
      font-weight: 400;
    }
  }
}

// desktop
@media only screen and (min-device-width: 480px) {
  html {
    height: 300%;
  }

  body, #root {
    height: 100%;
  }

  .LandingPage {
    background: url('../../assets/background_desktop.svg');
    background-size: cover;
  }

  // tall (crop right)
  @media (max-aspect-ratio: 16 / 9) {
    .LandingPage {
      background-attachment: fixed;
      height: 100%;
      position: relative;

      .info {
        font-size: 1.8vh;
        left: 12vh;
        position: fixed;
        top: 10vh;

        .logo {
          margin-bottom: 1.5vh;
          width: 16vh;
        }

        h1, h2 {
          margin: 1vh 0;
        }

        .social img {
          margin: 0 0.3vh;
          width: 3vh;
        }
      }

      .bus, .car {
        position: fixed;
      }

      .bus {
        bottom: 5vh;
        width: 100vh;
      }

      .car {
        bottom: 0;
        width: 50vh;
      }
    }
  }

  // short (scroll)
  @media (min-aspect-ratio: 16 / 9) {
    .scrollingContainer {
      align-items: flex-start;
      display: flex;
      height: 100%;

      .LandingPage {
        align-self: flex-end;
        bottom: 0;
        overflow-x: hidden;
        padding-top: 9 / 16 * 100%;
        position: sticky;
        width: 100%;

        .info {
          font-size: 1.8vw * 9 / 16;
          left: 12vw * 9 / 16;
          position: absolute;
          top: 10vw * 9 / 16;

          .logo {
            margin-bottom: 1.5vw * 9 / 16;
            width: 16vw * 9 / 16;
          }

          h1, h2 {
            margin: 1vw * 9 / 16 0;
          }

          .social img {
            margin: 0 0.3vw * 9 / 16;
            width: 3vw * 9 / 16;
          }
        }

        .bus, .car {
          position: absolute;
        }

        .bus {
          bottom: 5vw * 9 / 16;
          width: 100vw * 9 / 16;
        }

        .car {
          bottom: 0;
          width: 50vw * 9 / 16;
        }
      }
    }
  }
}

// mobile
@media only screen and (max-device-width: 480px) {
  html, body, #root {
    height: 100%;
  }

  .LandingPage {
    background: url('../../assets/background_mobile.svg');
    background-repeat: no-repeat;
    padding-top: 812 / 375 * 100%;
    width: 100%;

    .info {
      font-size: 3vw;
      left: 0;
      position: absolute;
      right: 0;
      top: 8vh;

      .logo {
        margin-bottom: 2vh;
        width: 28vw;
      }

      h1, h2 {
        margin-bottom: 1vh;
      }

      .social img {
        margin: 1vw;
        width: 6vw;
      }
    }

    .bus, .car {
      width: 0;
    }
  }
}
