.LandingPage {
  height: 100%;
  overflow: auto;

  .info {
    display: table;
    text-align: center;

    .logo {
      margin-bottom: 16px;
    }

    h1 {
      margin-bottom: 8px;
      font-weight: 800;
    }

    h2 {
      margin-bottom: 8px;
      font-weight: 400;
    }

    .social img {
      margin: 0 2px;
    }
  }
}

// desktop
@media only screen and (min-device-width: 480px) {
  .LandingPage {
    background: url('../../assets/background_desktop.svg');
    background-position: left top;
    background-size: cover;
    background-repeat: no-repeat;
  }

  // tall
  @media (max-aspect-ratio: 16/9) {
    .LandingPage .info {
      font-size: 1.8vh;
      margin-left: 12vh;
      margin-top: 10vh;

      .logo {
        width: 16vh;
      }

      .social img {
        width: 3vh;
      }
    }
  }

  // short
  @media (min-aspect-ratio: 16/9) {
    .LandingPage .info {
      font-size: 1.8vw * 9 / 16;
      margin-left: 12vw * 9 / 16;
      margin-top: 10vw * 9 / 16;

      .logo {
        width: 16vw * 9 / 16;
      }

      .social img {
        width: 3vw * 9 / 16;
      }
    }
  }
}

// mobile
@media only screen and (max-device-width: 480px) {
  .LandingPage {
    background: url('../../assets/background_mobile.svg');
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;

    .info {
      font-size: 3vw;
      margin: 0 auto;
      margin-top: 10vh;

      .logo {
        width: 32vw;
      }

      .social img {
        width: 6vw;
      }
    }
  }
}
