#countdown-cell {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    padding-top: 2vh;
    padding-bottom: 2vh;
  }


  .clock {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;

    .counter {
      display: flex;
      flex-direction: column;
      height: 100%;
      width: 33%;
      margin-right: 1vw;
      margin-left: 1vw;

      .number {
        position: relative;
        box-sizing: border-box;
        width: 100%;
        height: 100%;
      
        perspective: 400px;
        transform-style: preserve-3d;

        .digit-wrapper {
          position: absolute;
          box-sizing: border-box;
          width: 100%;
          height: 48%;
          overflow: hidden;
          
          .digit {
            font-size: 5em;
            height: 200%;
            width: 100%;
            position: absolute;
            overflow: hidden;
          }
          .digit-top {
            top: 0;
          }
          .digit-bottom {
            top: -100%;
          }
        } 

        .digit-wrapper-top {
          top: 0;

          border-top-left-radius: 5px;
          border-top-right-radius: 5px;
        }
        
        .digit-wrapper-top-old {
          transform-origin: center bottom;
          backface-visibility: hidden;

          
          animation: animatedflipdowntop;
          animation-fill-mode: both;
          animation-duration: .3s;
          animation-timing-function: cubic-bezier(.37,.01,.94,.35);
        }

        .digit-wrapper-bottom {
          top: 52%;
          
          border-bottom-left-radius: 5px;
          border-bottom-right-radius: 5px;
        }

        .digit-wrapper-bottom-new {
          transform-origin: center top;
          backface-visibility: hidden;

          animation: animatedflipdownbottom;
          animation-fill-mode: both;
          animation-duration: .6s;
          animation-timing-function: cubic-bezier(.15,.45,.28,1);
        }
      }
    }
  } 
}
  
@keyframes animatedflipdowntop {
  0% {
    transform: rotateX(0deg);
    z-index: 2;
  }
  0%, 99% {
    opacity: 0.99;
  }
  100% {
    transform: rotateX(-90deg);
    opacity: 0;
  }
}

@keyframes animatedflipdownbottom {
  0%, 50% {
    z-index: -1;
    transform: rotateX(90deg);
    opacity: 0;
  }
  51% {
    opacity: 0.99;
  }
  100% {
    opacity: 0.99;
    transform: rotateX(0deg);
    z-index: 5;
  }
}