//THEMING COLORS
$theme-transition-duration: 0s;

$day-dash-bg-color: url('../../../assets/gradient_background.png');
$day-dash-text-color: #E35058;
$day-dash-header-color: #222B5C;
$day-dash-text-shadow-color: #A43B5C;

$night-dash-bg-color: #222B5C;
$night-dash-text-color: white;