@import './variables.scss';

html, body {
  height: 100%;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  margin: 0px;
  padding: 0px;
  position: relative;
  overflow: hidden;
}

.dashboard-wrapper{
  height: 100vh;
  width: 100vw;
  padding-top: 0vh;
  padding-bottom: 0vh;
  box-sizing: border-box;
  
  position: relative;
  overflow: hidden;

  transition-duration: $theme-transition-duration;
  .dashboard{
    background-size: cover;
    height: 100%;
    width: 100%;
    overflow: hidden;

    display: grid;
    grid-template-columns: 33.33333% 33.33333% 33.33333%;
    grid-template-rows: 33.33333% 33.33333% 33.33333%;
  }
}

#cityscape {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 50vw; // TO BE DECIDED
}

//alter text colors here to propagate to ALL cells
.day {
  background: $day-dash-bg-color;
  p {
    color: $day-dash-text-color;
  }
  h1 {
    color: $day-dash-header-color;
  }
  
  .clock {
    p {
      text-shadow: 3px 3px $day-dash-text-shadow-color;
    }
  }
}


.night {
  background-color: $night-dash-bg-color;
  h1, p {
    color: $night-dash-text-color;
  }
}

@import "cells";
@import './variables.scss';