@import './variables.scss';

html, body {
  height: 100%;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  margin: 0px;
  padding: 0px;
  position: relative;
  overflow: hidden;
}

.dashboard-wrapper{
  height: 100vh;
  width: 100vw;
  padding-top: 2vh;
  padding-bottom: 2vh;
  box-sizing: border-box;
  
  position: relative;
  overflow: hidden;


  transition-duration: $theme-transition-duration;
  .dashboard{
    background-size: cover;
    height: 100%;
    width: 100%;
    overflow: hidden;

    .top-row{
      height: 33.333333%;
    }
    .bottom-row {
      height: 66.66666%;
    }
  }
}


//alter text colors here to propagate to ALL cells
.early-morning{
  background-color: $early-morning-dash-bg-color;
  h1, p{
    color: $early-morning-dash-text-color;
  }
}

.mid-day {
  background-color: $mid-day-dash-bg-color;
  h1, p{
    color: $mid-day-dash-text-color;
  }
}

.afternoon {
  background-color: $afternoon-dash-bg-color;
  h1, p{
    color: $afternoon-dash-text-color;
  }
}

.night {
  background-color: $night-dash-bg-color;
  h1, p {
    color: $night-dash-text-color;
  }
}

@import "cells";
@import './variables.scss';