//THEMING COLORS
$theme-transition-duration: 0s;

$early-morning-dash-bg-color: green;
$early-morning-dash-text-color: yellowgreen;
$early-morning-cell-color: blue;

$mid-day-dash-bg-color: violet;
$mid-day-dash-text-color: rgb(250, 141, 141);
$mid-day-cell-color: white;

$afternoon-dash-bg-color: orange;
$afternoon-dash-text-color: rgb(206, 166, 92);
$afternoon-cell-color: red;

$night-dash-bg-color: purple;
$night-dash-text-color: white;
$night-cell-color: black;