.row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;

  .cell {
    transition-duration: $theme-transition-duration;
    width: 30%;
    
    padding: 2vw;
    margin-top: 0px;
    margin-bottom: 0px;

    margin-left: 1vw;
    margin-right: 1vw;
    
    // background-color: paleturquoise;
    box-sizing: border-box;

    // border: 12px solid black;
    position: relative;
    h1, h2, h3, h4, h5, h6, p{
      transition-duration: $theme-transition-duration;
      margin: 0px;
      padding: 0px;
    }
  }

  .early-morning{

  }

  .mid-day{

  }

  .afternoon{
    background-color: $afternoon-cell-color;
  }
  
  .night{
    background-color: $night-cell-color;
  }
  

  //everything in the top row has this
  .short-cell {
    box-sizing: border-box;
    height: 80%;
    
    margin-top: auto;
    margin-bottom: auto;
  }

  //the twitter cell has this
  .long-cell {
    box-sizing: border-box;
    height: 90%;

    margin-top: auto;
    margin-bottom: auto;
  }
  
  //the two that are split up in the bottom row have this
  .vsplit {
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 0px;
    justify-content: space-between;

    .split-cell {
      background-color: green;
      box-sizing: border-box;
      height: 44.44%; //makes this small cell the same height as the top row
    }
  }
  
}


#logo-cell {
  // background-color: rgba(0,0,0,0);
  display: flex;
  justify-content: space-between;
  img {
    height: 100%;
  }
  h1 {
    // color: $text-color-header;
    font-size: calc(1.5vw + 20px);
    height: 100%;
    word-wrap: break-word;
  }
}

#time-cell {
  // background-color: red;
  text-align: center;
  p{
    font-size: calc(1.5vw + 15px);
    margin-top: 2vh;
  }
}

#twitter-cell{
  background-color: rgba(0,0,0,0);
  padding: 0px;
}

#countdown-cell {
  // background-color: paleturquoise;
  text-align: center;

  .clocks {
    display: flex;
    flex-direction: row;
    height: 40%;

    .counters{
      display: flex;
      flex-direction: row;
      height: 40%;
      width: 100%;
      padding-left: 1vw;
      padding-right: 1vw;


      p{
        font-size: 2em;
        width: 100%;
      }
    }


    // p{
    //   margin: auto;
    //   padding: 0;
    //   width: 100%;
    //   font-size: 2em;
    // }
  }
  
}

#announcements-cell {
  background-color: green;
}



@import 'sponsors';
@import './variables.scss';
@import 'responsive';