.select {
  position: relative;
  width: 200px;

  input {
    width: 100%;
  }

  ul {
    max-height: 200px;
    overflow-y: auto;
    padding: 0;
    position: absolute;
    width: 100%;
    z-index: 1;

    li {
      background: #EEEEEE;
      color: black;
      list-style: none;
    }

    li.selected {
      background: black;
      color: white;
    }

    li:hover {
      background: black;
      color: white;
    }
  }
}
