html, body {
  background: #272822;
}

h1, h3, ol, p {
  color: lightgray;
  margin: 15px;
}

p {
  margin: 0 0 0 15px;
}

.content {
  display: flex;
}

.rules {
  margin-left: 40px;
}

.ace_editor {
  border: 1px solid lightgray;
  font-family: 'Consolas', monospace;
  font-size: 16px;

  * {
    font-family: inherit;
    font-size: inherit;
  }
}
