.nav-bar {
  position: absolute;
  width: 100%;
  padding: 20px 35px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  @media(max-width: 600px) {
    padding: 15px;
  }

  .logo {
    width: 10vw;
    height: auto;
    min-width: 120px;
    z-index: 50;
  }

  .space {
    flex: 1;
  }

  .menu-item {
    font-weight: 600;
    font-size: 16px;
    margin: 0 15px;
    text-transform: uppercase;
    padding: 10px;
    cursor: pointer;
    text-decoration: none;
    color: #222B5C;
    transition: color .2s;
    z-index: 50;
    @media (max-width: 900px) {
      display: none;
    }

    .line {
      height: 2.4px;
      width: 0px;
      margin: auto;
      background-color: #222B5C;
      transition: width .2s, background-color .2s;
    }

    &:hover .line {
      width: 100%;
    }

    &.active, &:hover {
      color: #A43B5C;
      .line {
        background-color: #A43B5C;
      }
    }
  }

  .mobile-menu-toggle {
    padding: 10px;
    cursor: pointer;
    display: none;
    background: none;
    border: none;
    z-index: 51;
    @media (max-width: 900px) {
      display: initial;
    }

    img {
      width: 25px;
    }
  }

  .mobile-menu {
    position: fixed;
    background-color: #0A093F;
    height: 100vh;
    width: 400px;
    max-width: 80vw;
    right: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 52;
    transform: translateX(100%);
    transition: transform .3s;

    .logo {
      margin: 40px 0;
      width: 110px;
      min-width: 0;
    }

    .menu-item {
      color: white;
      display: block;
      width: auto;
      padding: 20px 0;
      font-size: 20px;
      &.active, &:hover {
        color: #A43B5C;
      }
      @media (max-width: 480px) {
        padding: 15px 0;
      }
    }
  }

  .menu-background {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    border: none;
    opacity: 0;
    z-index: -1;
    transition: opacity .3s;
  }

  &.menu-open {
    .mobile-menu {
      transform: translateX(0);
    }

    .menu-background {
      opacity: .4;
      z-index: 50;
    }
  }
}
