.apply {
  background: url(../../assets/background_app.svg);
  background-repeat: no-repeat;
  background-size: cover;
  color: #0A093F;
  display: flex;
  height: 100%;

  .progress {
    @media only screen and (max-device-width: 480px) {
      display: none;
    }

    background: url(../../assets/apply/nav_background.svg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 96px 40px;

    .row {
      align-items: center;
      display: flex;
      margin-bottom: 32px;

      img {
        margin-right: 16px;
        height: 48px;
      }

      p {
        font-size: 16px;
        font-weight: 600;
      }
    }
  }

  .application {
    flex-grow: 1;
    padding: 96px 0;
    
    h3 {
      text-align: center;
      font-weight: 600;
      font-size: 48px;
      color: #222B5C;
    }

    form { 
      margin: 0 auto;
      width: 50%;

      p {
        font-weight: normal;
        margin-top: 32px;
        margin-bottom: 8px;
      }

      input {
        background: transparent;
        border: none;
        border-bottom: 2px solid black;
        font-size: 16px;
        outline: none;
        padding: 6px 8px;
        width: 100%;
      }

      input::placeholder {
        color: #A43B5C;
        font-weight: 600;
      }
    }

    .nav-buttons {
      display: flex;
      justify-content: space-between;
      margin-top: 32px;

      button {
        align-items: center;
        background-color: transparent;
        border: 2px solid black;
        border-radius: 50ch;
        display: flex;
        font-size: 16px;
        padding: 5px 4px 5px 10px;
      }
    }
  }
}
