.Footer {
  // width: 300px;
  margin: auto;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #11112f;
  // background-color: red;

  a,
  a:link,
  a:visited,
  a:hover,
  a:active {
    text-decoration: none;
    color: #12112f;

    > img {
      width: 20px;
      margin: 3px;
    }
  }
}
