.qr-wrapper{
    width: 100vw;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2vh;

    .qr-header{
        margin: 0;
        padding: 0;
    }
}

#qrimg {
    margin: 0;
    padding: 0;
    width: 200px;
    height: 200px;
}

@media screen and (min-width: 320px) {
    #qrimg {
        width: 300px;
        height: 300px;
    }
}

@media screen and (min-width: 440px) {
    #qrimg {
        width: 500px;
        height: 500px;
    }
}

@media screen and (min-width: 1200px) {
    #qrimg {
        width: 600px;
        height: 600px;
    }
}